@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Inter:wght@900&family=Paytone+One&family=Poppins:wght@600&family=Roboto:wght@900&family=Source+Serif+Pro:ital,wght@1,900&display=swap');
/* Stili per la chat */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffffff;
}

.chat-container {
  background-color: #ffffffff;
  border-radius: 9px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.808);
  height: 500px;
  margin: auto;
  width: 404px;
}

.chat-header {
  background-color: #4476a8;
  border-radius: 9px 9px 0 0;
  color: white;
  font-size: 21px;
  font-weight: bold;
  padding: 21px;
  text-align: center;
}

.chat-log {
  padding: 16px;
  overflow-y: scroll;
}

.chat-message {
  font-family:bolder;
  background-color: #5888e2;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 16px;
  padding: 16px;
}

.user {
  font-family:'Roboto',bold;
  font-size:medium;
  background-color: #171a1f;
  color: #fffdfd;
  float: right;
}

.bot {
  font-family:'Roboto',bolder;
  background-color: #ff692e;
  color: #ffffff;
  float: left;
}

.chat-sender {
  font-size: 13.1px;
  font-weight: bold;
  margin-right: 8px;
  text-transform: lowercase;
}

.chat-text {
  font-size: 15px;
}

/* Stili per il campo di input */
.chat-input {
  descent-override: 1;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  display:flex;
  padding: 16px;
  border:none;
}

#user-input {
  border: none;
  border-radius: 5px;
  flex-grow:1.1;
  font-size: 17px;
  margin-right: 9px;
  padding: 9px;
}

#send-btn {
  background-color: #0051ff;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 17px;
}

#send-btn:hover {
  background-color: #f1ff32;
  font-weight: bold;
}

/* Stili per i tasti login e signup */
#login-btn,
#signup-btn {
  position: absolute;
  background-color: #325d88;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 8px;
  padding: 8px 16px;
  top: 16px;
  right: 16px;
}

#login-btn:hover,
#signup-btn:hover {
  background-color: #eeeeee;
}

/* Stili per dispositivi mobili */
@media screen and (max-width: 600px) {
  .chat-container {
    height: auto;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  .chat-log {
    height: 300px;
  }
  #user-input {
    margin-right: 0;
  }
}
/* Definizione della classe CSS per l'animazione */
.chat-message {
  animation-name: fadeIn;
  animation-duration: 1.2s;
  animation-fill-mode: both;
}

/* Definizione della chiave dell'animazione */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-26px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
